spring.application.name=MicroserviceDemo
server.port=9898
spring.datasource.driver-class-name=oracle.jdbc.OracleDriver
spring.datasource.url=
spring.datasource.password=
spring.jpa.database-platform=org.hibernate.dialect.OracleDialect

spring.jpa.properties.hibernate.query.in_clause_parameter_padding=true
spring.jpa.properties.hibernate.query.default_join_style=ANSI


telegram.bot.token=
telegram.bot.name=


openai.api.key=
openai.model=gpt-3.5-turbo
openai.api.url=https://api.openai.com/v1/chat/completions